@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
p {
  font-family: 'Montseratt', sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Poppins', sans-serif;
}
.sr{
  overflow-x: hidden !important;
}

body {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

/* .content {
  overflow-x: hidden;
} */

/*================== Video Start =================================*/

.video-hide {
  display: none;
}

/*================== Video End ==================================*/

/* =================== Custom Scrollbar Start ====================== */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* =================== Custom Scrollbar End  ====================== */

/* ================== Navbar Start ======================== */

.navbar-img {
  background: url('../images/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

.navbar-img.active {
  background: url('../images/close.svg');
}


.navbar-dark .navbar-toggler {
  border: none !important;
  outline: none !important;
  color: transparent !important;
}


.custom-navbar {
  background: #000000 !important;
  padding-inline: 10%;
  padding-right: 12%;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  cursor: pointer;
  color: #fff !important;
}
.phone-link{
  position: relative;
  right: 100%;
  top: 2px;
}
@media (max-width: 1200px) {
  .nav-link {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .nav-link {
    font-size: 15px;
  }
  .phone-link{
  position: relative;
  right: 0%;
  top: 2px;
}
}

.contact-us-btn {
  background: #E58620;
  border: none;
  outline: none;
  padding: 10px 35px;
  letter-spacing: 0.02em;
  border-radius: 3px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.contact-us-btn:hover {
  color: #FFFFFF;
  opacity: 0.9;
}

/* ================== Navbar End ======================== */

/* ==================== Footer Start =============================== */

.footer {
  background: #000;
  padding-inline: 8%;
  padding-top: 150px;
  padding-bottom: 40px;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer-form-tx {
  color: #fff;
}

.footer-form-tx h2 {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  line-height: 140%;
  color: #F7F7F7;

}

.footer-form-tx h2 span {
  color: #E58620;
}

.footer-form-tx p {
  line-height: 27px;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #A6A6A6;
  font-family: 'Montserrat', sans-serif;
}

.footer-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-input {
  background: #111111;
  border: none;
  outline: none;
  padding: 15px;
  color: #D7D7D7;
  border-radius: 5px 5px 0 0;
  width: 264px;
  transition: .5s;
}

.footer-input:focus {
  border-bottom: 1px solid #E58620;
}

.footer-btn {
  margin-top: 10px;
  width: 202px;
  margin-right: 0;
  margin-left: auto;  
}

.footer-social {
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #DADADA;
  position: relative;
}

.footer-social::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #282828;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.copyright p {
  color: #DADADA;
}

.copyright-links a {
  text-decoration: none;
  color: #DADADA;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

/* ==================== Footer End =============================== */  