@media (min-width: 1700px) {
  .button-next{
    z-index: 999;
    position: absolute;
    bottom: 380px;
    right: 150px;
  }
  .button-prev{
    position: absolute;
    z-index: 999;
    bottom: 380px;
    left: 150px;
  }
}
@media (max-width: 1700px) {
  .button-next{
    z-index: 999;
    position: absolute;
    bottom: 380px;
    right: 50px;
  }
  .button-prev{
    position: absolute;
    z-index: 999;
    bottom: 380px;
    left: 50px;
  }
}
@media (max-width: 1400px) {
  .button-next{
    z-index: 999;
    position: absolute;
    bottom: 0px;
    left: 230px;
  }
  .button-prev{
    position: absolute;
    z-index: 999;
    bottom: 0px;
    left: 130px;
  }
}
@media (max-width: 992px) {
  .button-next {
    bottom: -70px;
    left: 15%;
  }
  .button-prev{
    bottom: -70px;
    left: 5%;
  }
}
@media (max-width: 600px) {
  .button-next {
    bottom: -10px;
    left: 20%;
  }
  .button-prev{
    bottom: -10px;
    left: 3%;
  }
}